header{
    border: black solid;
    justify-content: space-between;
    display: flex;
    background-color: #778899;
    padding: 10px;
    height: 100px;
}

body{
    background-color: grey;
    height: 100%;
    min-height: 100%;
}
.goods{
    background-color: white;
    border: 3px black solid;
    margin:10px;
    width: 250px;
    height: 410px
}
.homePageGoods{
    background-color: white;
    border: 3px black solid;
    margin:10px;
    width: 400px;
    height: 450px;
    padding-top: 3%;
}

.allGoods{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px;
}
.allGoodsHomePage{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 150px;
}
#resetFilterSale{
    position: relative;
    left: 130px;
}

h1{
    font-size: 40px;
    width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

header nav{
    position: absolute;
    right: 10px;
    top: 50px;
}

footer {
    border: black solid;
    background-color: #333;
    padding: 20px;
    left: 10px;
    height: 50px;

    width: 97%;
    clear: both;
    position: relative;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}
.fRight{
    float: right;
}
.blackSolid{
    border: black solid 1px;
}
.active{
    background-color: forestgreen;
}

#noGoods{
    font-size: 50px;
    width: 400px;
    text-align: center;
}
.goods a {
    position: relative;
    bottom: -10px;
    padding: 5px;
    background-color: yellow;
    color: black;
    border: black 1px solid;
    text-decoration: none;
    width: 100%;
}

.center {
    <!-- //TODO pouzito jen V kosiku nic neni -->
    width: 100px;
    margin: 100px auto auto 43%;
}
input,select {
    width: 150px;
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
    display: inline;
}
label{
    display: inline-block;
    width: 170px;
    text-align: right;
}
.btnsInList{
    display: flex;
    height: 50px;
}
#w20dInline{
    width: 20px;display: inline;
}
#editUserForm{
    position: relative;
    left: 30%;
}
.dFlexpRelLeft110{
    display: flex;
    position: relative;
    left: 110px;
}

.listRow{
    justify-content: space-between;
    display: flex;
    width: 1200px;
    border: darkred 2px solid;
    background-color: #BA1200;
    margin-top: 10px;
    border-radius: 20px;
}

.listRow a{
    text-decoration: none;
    color: white;
}
.detailsInRow{
    padding: 20px 10px;
    font-size: 40px;
}
.detailsInRowOrders{
    padding: 20px 10px;
    font-size: 40px;
}
.list{
    padding: 0 20%;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 55px solid red;
    border-left: 100px solid transparent;
    position: relative;
    left: 201px;
    bottom:51px;
}

.accountBox{
    font-size: 30px;
    position: relative;
    left: 30%;
    margin: 100px;
    padding: 100px;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    width: 400px
}

.textInSale{
    position: relative;
    top: -70px;
    left: -50px;
    transform: rotate(33deg);
    color: yellow
}
.filter{
    border: solid black 5px;width: 1200px;background-color: white;margin-top: 10px
}
.imageGoods{
    width:248px; height:248px;
}
.inputsNextLabel{
    position: relative;bottom: 5px;
}

#saveOrdersButton{
    width:250px;position: relative;left: 1365px;
}
#importJsonButton{
    width:150px;position: relative;left: 1250px;
}
#exportJsonButton{
    width:150px;position: relative;left: 1250px;
}
#orderButton{
    position: relative;width:530px;height: 50px;
}
#orderStatus{
    height: 30px;position: relative;left: 200px;
}
#detailButton{
    width: 100px;height: 40px;position: relative;top: 180px;right: 50px;
}
.paymentBox{
    border: black solid 5px;background-color: white;width: 500px;margin: 10px;padding: 10px;border-radius: 10px;
}
.radioButton{
    position: relative;bottom: -7px;
}
.pRelTop10{
    position: relative;
    top: 10px;
}
.pRelBottom7{
    position: relative;
    bottom:7px;
}
.btnsInCart{
    position: relative;
    top: 200px;
}
.pRelLeft5{
    position: relative;
    left: 5px;
}

.w50h50{
    width: 50px;
    height: 50px;
    margin: 20% 20px 30px 0;
}
.pRelTop100{
    position: relative;
    top: 150px;
}
.w100h100Goods{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 3px black solid;
    margin-top: 30px;

}
#totalPrice{
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    position: relative;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    width: 300px;
    left: 0;
}
.w300{
    width: 300px;
}
.w250{
    width: 250px;
}
.w200{
    width: 200px;
}
.p50-50-100-50{
    padding: 50px 50px 100px 50px;
}
.w105{
    width: 105px;
}
.w205{
    width: 205px;
}
.pRelLeft460{
    position: relative;
    left: 460px;
}
.pRelRight10{
    position: relative;
    right: 10px;
}
.pRelLeft400{
    position: relative;
    left: 400px;
}
.dInline{
    display: inline;
}
.dFlex{
    display: flex;
}
.pRelRight70{
    position: relative;
    right: 70px;
}
.imgOrderDetail{
    width:230px;
    height:230px;
    padding:20px;
}
.textCenter{
    text-align: center;
}
.goodsSection {
    padding: 50px;
    width: 250px;
    background-color: white;
    border: 3px black solid;
    margin:10px;
    height: 410px
}
.imgSection {
    padding-top: 10%;
    width: 248px;
    height: 248px;
}
.nameSection{
    font-size: 50px;color: black;text-align: center; position:relative;bottom: 10px;
}
#labelZip_code{
    position: relative;left: 345px;
}
#zip_code{
    left: 344px;
}
#addAddress{
    left: 300px;
}
.pRelLeft40p {
    position: relative;
    left: 40%
}
.w170{
    width: 170px;
}
.w130{
    width: 130px;
}
.pRelLeft700 {
    position: relative;
    left: 700px;
}
.detailOrderButton{
    background:transparent;
}
.completeCart{
    display: flex;
    width: 1200px;
}
.completeOrder{
    order: 2;margin-left: 600px;
}

#completeOrderButton{
    height: 50px;width: 200px
}
#debitCard{
    background-color: white;width: 400px;position: relative;left: 35%;margin: 100px;border-radius: 10px;
}
.pad100-50-50-50{
    padding: 100px 50px 50px 50px;
}
.pTop25{
    padding-top: 25px;
}
.w90{
    width: 90%
}
.w40{
    width: 40px;
}
.w70pRelR-20{
    width:70px;position: relative;right: -20px
}
.pRelT10{
    position:relative;top: 10px;padding-left: 10px;
}
.detailCart{
    margin: 0;
    display: inline;
}
.show-menu {
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
    width: 400px;
}
.imgHomePage{
    width: 398px;height: 400px
}

input[id=show-menu]{
    display: none;
}

/* Pokud je checkbox checked, zobrazi #menu*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.w100h100{
    width: 100px;
    height: 100px;
}
.goodsInfo{
    display: flex;
    width: 500px;
}
.pRelRight5{
    position: relative;
    right: 5px;
}
#w170Size{
    width: 170px;
}
#addUserButton{
    position: relative;
    bottom: 7px;
}
.goodsEditAttribute{
    display: flex;
    margin-right: 20px;
}
.imgCart{
    width: 230px;
    height: 230px;
}
@media only print{
    #menu{
        display: none;
    }
    h1{
        display: none;
    }
    #saveOrdersButton{
        display: none;
    }
    #exportJsonButton{
        display: none;
    }
    #importJsonButton{
        display: none;
    }
    .dFlex{
        display: none;
    }
    .listRow{
        background-color: transparent;
        border: none;
        margin-top: 100px;
    }
    footer{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .imgSection{
        height: 100px;
        width: 100px;
    }
    .pRelRight5{
        position: relative;
        right: 0;
    }
    #w170Size{
        width: 130px;
    }
    .nameSection{
        text-align: right;
    }
    #noGoods{
        font-size: 20px;
        width: 350px;
    }
    .imageGoodsManagement{
        width: 200px;
        height: 200px;
    }
    .goodsSection{
        display: flex;
        height: 150px;
    }
    .pRelBottom7{
        position: relative;
        bottom:0;
    }
    .allGoods{
        padding: 0 0 0 0;
    }
    .imgHomePage{
        width: 370px;
        height: 372px;
    }
    .allGoodsHomePage{
        padding: 0 0 0 0;
        width: 400px;
    }
    .homePageGoods{
        width: 375px;
    }
    footer{
        width: 350px;
        left: 0;
    }
    .filter{
        width: 375px;
    }

    select[name=orderBy]{
        position: relative;
        right: 50px;
    }
    select[name=size]{
        position: relative;
        right: 50px;
    }
    #btnsInGoodsManagement{
        position: relative;
        left: 300px;
    }
    #colorAddGoods{
        position: relative;
        right: 5px;
    }
    .goodsEditAttribute{
        margin-left: 100px;
    }
    select[name=typeOfGoods]{
        position: relative;
        right: 5px
    }
    input[name=reset]{
        position: relative;
        left: 200px;
    }
    #editUserForm{
        left: 0;
     }
    .list {
        padding: 0 0 0 0;
    }
    .detailsInRow{
        font-size: 20px;
        padding: 35px 14px 0;
    }
    #addCategoryButton{
        left: 150px;
    }
    .w250{
        width: 150px;
    }
    .listRow{
        width: 400px;
    }
    .imgOrderDetail{
        width: 100px;
        height: 100px;
        position: relative;
    }
    .imgCart{
        width: 100px;
        height: 100px;
    }
    .btnsInCart {
        position: relative;
        top: 130px;
        right: 145px;
    }
    .completeCart{
        display: block;
    }
    #totalPrice{
        width: 350px;
    }
    .completeOrder{
        margin-left: 0;
    }
    .orderByPriceFilter{
        width: 110px;
    }
    #completeOrderButton{
        width: 380px;
    }
    .pRelLeft700{
        left: 0;
     }
    .paymentBox{
        width: 350px;
    }
    #orderButton{
        width: 380px;
    }
    #debitCard{
        left: 0;
        margin: 0;
    }
    #debitDetails{
        position: relative;
        left: 10px;
    }
    #orderStatus{
        left: 15px;
        width: 400px;
        font-size: 20px;
    }
    #detailButton{
        top: 0px;
        left: 280px;
    }
    .listRowMyOrders{
        display: block;
        width: 400px;
    }

    .detailsInRowOrders{
        font-size: 20px;
        padding: 35px 14px ;
    }
    .accountBox{
        font-size: 15px;
        left: 0;
        margin: 10px;
        padding: 10px;
        width: 360px;
    }
    #zip_code{
        left: 0;
    }
    #addAddress{
        left: 0;
    }
    #labelZip_code{
        left: 0;
    }
    .detailsInRowAdr{
        font-size: 20px;
        padding: 35px 14px;
    }
    .detailsInRowCart{
        font-size: 20px;
        padding: 35px 14px ;
        display: table;
        width: 200px;
    }
    .detailCart{
        width: 200px;
    }
    .labelAccount{
        width: 110px;
    }
    .w200{
        width: 110px;
    }
    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li, li a {
        width: 100%;
    }
    /*zobrazi Menu*/
    .show-menu {
        display:block;
    }
    .pRelLeft5{
        left: 0;
    }
    .filterCategory{
        width: 110px;
    }
    .dFlex{
        display: block;
        height: 60px;
    }
    #addSaleButton{
        position: relative;
        left: 170px;
    }
    #addSaleForm{
        position: relative;
        right: 70px;
    }
    .listRowOrders{
        display: block;
    }
    .pRelTop100{
        position: relative;
        left: 350px;
        top: -140px;
    }
    .dFlexpRelLeft110{
        left: 15px;
        font-size: 20px;
    }

    .listRowGoods{
        display: block;
    }
    .w100h100Goods{
        position: relative;
        top: 0px;
        margin-left: 0;
        width: 200px;
        height: 200px;

     }
    .w50h50{
        margin: 0;
        position: relative;
    }
    .addGoodsButton{
        position: relative;
        left: 200px;
    }
    .addFile{
        width: 210px;
    }
    .iconDeleteSale{
        left: 0;
    }
    #importJsonButton{
        left:40px;
    }
    #exportJsonButton{
        left: 40px;
    }
    #saveOrdersButton{
        left: 60px;
    }
    .detailOrderButton{
        left: 0;
        top: 70px;
    }
    #addUserForm{
        height: 200px;
        position: relative;
        right: 40px;
    }
    #addUserButton{
        position: relative;
        left: 135px;
    }
    #iconsUserManagement{
        left: 0;
    }
    .detailsInRowUsers{
        padding: 35px 14px ;
    }
    #saveAdressInfo{
        display: flex;
    }
    #checkBoxSaveAddress{
        position: relative;
        top: -15px;
    }
}
